name: ci-cd.build-test-pack-publish-release

on:
  push:
    branches:
      - 'main'

permissions:
  contents: write
  packages: write

jobs:
  build-test-pack-publish:
    runs-on: ubuntu-latest
    steps:
      - name: DotNet Version On Start
        run: dotnet --version
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
      - name: Cache NuGet
        uses: actions/cache@v5
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - name: Run Pipeline 
        run: dotnet run -c Release
        working-directory: "NRG.Matrix/NRG.Matrix.Build"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUGETSTORE__API_KEY: ${{ secrets.NUGETSTORE__API_KEY }}
